<footer class="bg-primary text-center text-lg-start position-relative">
  <div class="container p-1">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase"></h5>
        <img src="assets/Homepage/camp-blue-ridge-logo.svg" alt=""/>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="h3 text-white">Contact Information</h5>
        <address class="text-white">
          529 Old Mill Road <br />
          Montebello, VA 24464 <br />
          <a href="mailto:office@campblueridge.org" class="text-white"
            >office@campblueridge.org</a
          >.<br />
          <a href="tel:5404661583" class="text-white">(540) 466-1583</a>
          <button class="btn btn-linkedin"></button>
        </address>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <label for="sing-up" class="text-white">Sign-Up for Our Newsletter!</label>
        <input text="text" class="form-control rounded-lg" id="sign-up"/>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © Copyright 2021.
    <a class="text-dark" href="https://campblueridge.org/">
      All rights reserved.</a
    >
  </div>
</footer>
