::ng-deep {
  .carousel-control-prev,
  .carousel-control-next {
    width: 2%;
  }
  .carousel-control-next,
  .carousel-control-prev,
  .carousel-indicators {
    content:'';
  }
  .carousel-control-next-icon {
    opacity: 10;
    height: 40px;
    width: 40px;
  }
  .carousel-control-prev-icon {
    height: 40px;
    width: 40px;
  }
}

.h-100{
  height: 1000px;
}


