<div class="mx-auto" style="height:700px">
  <div class="card mx-auto" style="width:500px;height:400px">
    <div class="card-body shadow">
      <form class="row g-3">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase"></h5>
          <img src="assets/Homepage/camp-blue-ridge-logo.svg" alt="" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="h3 ">Contact Information</h5>
          <address>
            529 Old Mill Road <br />
          Montebello, VA 24464 <br />
            <a href="mailto:office@campblueridge.org">office@campblueridge.org</a>.<br />
            <a href="tel:5404661583">(540) 466-1583</a>
            <button class="btn btn-linkedin"></button>
          </address>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0"></div>
        <div class="col-md-4">
          <label for="validationDefault01" class="form-label">First name</label>
          <input
          type="text"
          class="form-control"
          id="validationDefault01"
          required
        />
        </div>
        <div class="col-md-4">
          <label for="validationDefault02" class="form-label">Last name</label>
          <input
          type="text"
          class="form-control"
          id="validationDefault02"
          required
        />
        </div>
        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label">Email</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
            <input
            type="text"
            class="form-control"
            id="validationDefaultUsername"
            aria-describedby="inputGroupPrepend2"
            required
          />
          </div>
        </div>
        <div class="col-md-12">
          <label for="validationDefault03" class="form-label"
          >Explain reason for contact</label>
          <textarea
          type="text"
          class="form-control"
          id="validationDefault03"
          rows="3"
          required
        ></textarea>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input
            type="checkbox"
            class=" m-1"
            value=""
            id="invalidCheck2"
            required
          />
            <label for="invalidCheck2">
            Agree to terms and conditions
          </label>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
  </div>
</div>