<div class="mx-auto" style="height:900px">
  <carousel [showIndicators]="false" *ngIf="slides.length > 0">
    <slide *ngFor="let slide of slides; let index = index" class="mx-auto">
      <div>
        <img
            [src]="'https://picsum.photos/id/' + slide + '/2600/500'"
            class="mx-auto"
            alt="image slide"
          />
        <div class="carousel-caption">
          <h4 class="display-1 shadow p-3 mb-5 rounded">Welcome to Camp Blue Ridge</h4>
        </div>
      </div>
    </slide>
  </carousel>

  <div class="card bg-primary mt-5">
    <h2 class="card-header"><i>Explore All 4 Seasons</i></h2>
    <div class="card-body shadow mx-auto m-5" style="width:600px">
      <div class="h5">Are you looking for a family getaway, a church group retreat or youth group adventure? Then look no further! Nestled in the heart of the Blue Ridge Mountains, our cozy cabins offer the perfect solution for families and groups to relax and experience the best that the Blue Ridge has to offer!</div>
      <div class="h5">Hike miles of trails to scenic waterfalls, enjoy a picnic or go canoeing and fishing right here at camp!</div>
      <div class="h5">Explore the local area and enjoy fresh seasonal fruit from nearby orchards or visit numerous historical sites and enjoy delicious farm to table fair in Lexington.</div>
      <div class="h5">The options are endless and we are here to help you make each getaway an unforgettable experience!</div>
    </div>
  </div>
</div>
