<div class="card mx-auto" style="height:700px">
  <div ></div>
  <h1 class="card-header bg-primary">DEI Initiative</h1>
  <div class="card-body shadow p-3 mb-5 bg-white rounded">
  <div  class="mx-auto h4" style="width: 600px;">Diversity, equity, and Inclusive play a big role in modern society, and we promote diversity in camp blue ridge. Our camp promotes diverse groups in order to create an inclusive environment for everyone from different cultures and ethnic backgrounds.
  Our DEI Initiative is to promote a more diverse environment in Camb Blue Ridge. We improve on this initiative by supporting school events and open reasonable prices for anyone interested in exploring the outdoors, and share the experience with friends and families.  </div>
  </div>
</div>

