<div class="mx-auto" style="height:1199px">
  <div class="mb-3">
    <carousel [showIndicators]="false" *ngIf="slides.length > 0">
      <slide *ngFor="let slide of slides; let index = index" class="mx-auto">
        <div>
          <img
          [src]="'https://picsum.photos/id/' + slide + '/2600/500'"
          class="mx-auto"
          alt="image slide"
        />
          <div class="carousel-caption">
            <h4 class="display-1 shadow p-3 mb-5 rounded">What we Offer in Camp Blue Ridge</h4>
          </div>
        </div>
      </slide>
    </carousel>
  </div>

  <div class="mx-auto" style="width:400px">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/c_nylo8bIUc" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="mx-auto text-white" style="width:800px">
    <div class="card card-body text-dark m-2">
      <h2>Join us at Camp Blue Ridge this summer for S’more Fun in 2021 at Family Camp!</h2>
      <ul>
        <li>What better way to experience the Blue Ridge Mountains then by creating memories with your family while you
          enjoy activities and programs designed to allow you to have time to focus on the things that matter most. Camp
          Blue ridge is the perfect place for families to disconnect and reconnect with each other. </li>
        <li> It is also a great place to find adventure and to relax! No need to plan menus, worry about groceries, or
          cleanup, meals are included! Prepare to sit back, relax, and enjoy the experience!</li>
        <li>Camp Blue Ridge is offering 5 weeks of Family Camp this year. Our weeks will run from check in on Sunday
          afternoon through check out Friday morning following breakfast, from June 20th through July 23rd.</li>
      </ul>
    </div>
    <div class="card card-body text-dark m-2">
      <h2>The New Cafeteria Project Begins!</h2>
      <ul>
        <li>Phase 1 of the CBR Master Plan is underway and camp staff are excited to be moving forward with the
          Cafeteria Project. </li>
        <li>This facility will meet many needs and provide and scenic and inviting space for families and groups to be
          ministered too while visiting camp. </li>
        <li>If you are interested in donating towards this project, please call and speak with one of our Camp Blue
          Ridge professionals today! (540) 466-1583.</li>
      </ul>
    </div>
  </div>

</div>