<div class="mx-auto" style="height:900px">
  <div class="mb-3">
    <carousel [showIndicators]="false" *ngIf="slides.length > 0">
      <slide *ngFor="let slide of slides; let index = index" class="mx-auto">
        <div>
          <img
          [src]="'https://picsum.photos/id/' + slide + '/2600/500'"
          class="mx-auto"
          alt="image slide"
        />
          <div class="carousel-caption">
            <h4 class="display-1 shadow p-3 mb-5 rounded">What we Offer in Camp Blue Ridge</h4>
          </div>
        </div>
      </slide>
    </carousel>
  </div>


  <div class="mx-auto" style="width:400px">
<iframe width="560" height="315" src="https://www.youtube.com/embed/c_nylo8bIUc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>