<div class="text-center h-100">
  <h1 class="m-4">About Camp Blue Ridge</h1>

  <h2 class="text-primary">Our History</h2>

  <p>
    Established in 1957, Camp Blue Ridge has a distinguished history of serving
    guests of all ages in the natural beauty of Virginia’s Blue Ridge Mountains.
  </p>
  <p>
    Owned and operated by the Potomac Conference of Seventh Day Adventists, Camp
    Blue Ridge was founded on the belief that Jesus Christ is our Lord and
    Savior and that we are blessed to provide a safe Christian atmosphere for
    the benefit of families, children and youth, in the natural beauty that God
    has provided.
  </p>
  <p>
    Camp Blue Ridge is committed to equipping young people with the essential
    tools of Christian leadership through our summer program. CBR also is
    dedicated to creating an environment where all guests, regardless of age,
    race or creed can learn more about themselves, improve relationships,
    recognize their place and responsibility in society and most importantly
    grow in their relationship with God.
  </p>
  <p>
    We believe that through experiencing the beauty of creation, guests will
    have the opportunity to disconnect from the distractions of our world and
    reconnect with their Creator. In the times in which we live, we feel this is
    more important now than ever!
  </p>
  <p>
    We seek to serve our guests in a Christ like fashion and pray that each
    person we serve will see Him reflected in all that we say and do.
  </p>
  <h3 class="text-primary">Our Mission</h3>
  <p>
    Camp Blue Ridge is committed to providing the environment and opportunities
    for all guests to connect with our Creator through nature.
  </p>
  <h3 class="text-primary">Our Vision</h3>
  <p>
    To be recognized as the best Christian Camp that the Blue Ridge Mountains
    has to offer.
  </p>
</div>
